.square{
    position: relative;
    width: 520px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square i{
    position: absolute;
    inset: 0;
    /* border: 2px solid #fff; */
    transition: 0.5;
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

.square i:nth-child(1){
    border-radius: 30% 62% 63% 37% / 41% 44% 56% 59%;;
    animation: animate 6s linear infinite;
}

.square i:nth-child(2){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;;
    animation: animate 4s linear infinite;
}

.square i:nth-child(3){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;;
    animation: animate2 10s linear infinite;
}



@keyframes animate{
    0%{transform: rotate(0deg);}

    100%{transform: rotate(360deg);}
}

@keyframes animate2{
    0%{transform: rotate(360deg);}

    100%{transform: rotate(0deg);}
}


@media screen and (max-width:360px) {
    .square{
        width: 440px;
        height: 440px;
        margin-left: 58px;
      }
    
}
